<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

    <resultMap id="BaseResultMap" type="com.lzumetal.mybatispages.entity.User">
        <result column="id" jdbcType="BIGINT" property="id" javaType="Long"/>
        <result column="uid" jdbcType="BIGINT" property="uid" javaType="Long"/>
        <result column="username" jdbcType="VARCHAR" property="username" javaType="String"/>
        <result column="password" jdbcType="VARCHAR" property="password" javaType="String"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar" javaType="String"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="passport_type" jdbcType="TINYINT" property="passportType"/>
        <result column="passport_id" jdbcType="VARCHAR" property="passportId"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="is_authentication" jdbcType="TINYINT" property="isAuthentication"/>
        <result column="is_new" jdbcType="TINYINT" property="isNew"/>
        <result column="pledge" jdbcType="TINYINT" property="pledge"/>
        <result column="pledge_fee" jdbcType="INTEGER" property="pledgeFee"/>
        <result column="recover_time" jdbcType="TIMESTAMP" property="recoverTime"/>
        <result column="manual_refund_pledge" jdbcType="INTEGER" property="manualRefundPledge"/>
    </resultMap>

    <select id="select" parameterType="Map" resultType="com.lzumetal.mybatispages.entity.User">
        SELECT * FROM `user` WHERE id = #{id}
    </select>

    <select id="list" parameterType="Map" resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE id <![CDATA[<]]> #{id}
    </select>

    <select id="getByPage" parameterType="Map" resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE create_time > DATE_FORMAT(#{userParam.createdStart}, '%Y-%m-%d')
    </select>
</mapper>